NODE_ENV=NODE_ENV

PORT=PORT
DB_PORT=DB_PORT
DB_USERNAME=DB_USERNAME
DB_PASSWORD=DB_PASSWORD
DB_DATABASE=DB_DATABASE


REDIS_HOST=REDIS_HOST
REDIS_PORT=REDIS_PORT
REDIS_PASSWORD=

JWT_SECRET_KEY=KSDFKSJDFKSJDFKSJFKSJDFKSJFKSJF
JWT_EXPIRES_IN=8h
JWT_REFRESH_SECRET_KEY=KSFDKSDBFKSDFKJSFKJSFKSJ
JWT_REFRESH_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=GGBBGFJSKDBJSD
CLOUDINARY_API_KEY=JHBFJSDBFJSDHFJ
CLOUDINARY_API_SECRET=SDFBSDJKFBSFJSDHF
